*{
    margin: 0;
    padding: 0;
}
body{
    background: #00A19D;
    word-break: break-all;
}
#qus-container, #welcome-screen,#score-card{
    margin: 0 auto;
    width: 50vw;
    height: auto;
    background:#FFF8E5;
    position: absolute;
    top: 25vh;
    left: 25vw;
}

#main-container,#score-card{
    display: none;
}

 #next-btn, #prev-btn,#submit-btn,#quit-btn{
     position: absolute;
     right: 5%;
     bottom: 10%;
     width: 5rem;
 }

 #quit-btn{
     margin-top: 2rem;
     left: 48.5%;
     bottom:15% ;
 }

 #prev-btn{
     left: 5%;
 }

 #timer{
     width: 10rem;
     background: #FFB830;
     position: absolute;
     top: 15vh;
     left: 45%;
     border-radius: 5px;
 }

 .option-lable{
     font-size: 1.5rem;
     font-family: 'Alegreya', serif;
    }

 h1{
    font-family: 'Acme', sans-serif;
 }
 
 @media (max-width: 480px) {

     h1{
         font-size: 1.5rem;
     }
    .option-lable{
        font-size: 1rem;
    }
    #next-btn, #prev-btn,#submit-btn,#quit-btn{
        width: 4rem;
        font-size: 0.6rem;
    }
    #timer{
        width: 5rem;
        left: 40%;
    }
    #timer h1{
        font-size: 1rem;

    }
    #quit-btn{
        margin-top: 2rem;
        left: 40%;
        bottom:10%;
    }
    
  }

  @media (max-width: 280px) {
    h1{
        font-size: 1rem;
    }
   .option-lable{
       font-size: 0.6rem;
   }
   #next-btn, #prev-btn,#submit-btn,#quit-btn{
       width: 2rem;
       font-size: 0.4rem;
   }
   #timer{
       width: 3rem;
   }
   #timer h1{
       font-size: 0.8rem;
   }
   #quit-btn{
    bottom:5%;
}
 }
