*{
    margin: 0;
    padding: 0;
}
body{
    background: #00A19D;
}
#main-container, #welcome-screen{
    margin: 0 auto;
    width: 50vw;
    height: auto;
    background:#FFF8E5;
    position: absolute;
    top: 25vh;
    left: 25vw;
}

#main-container{
    display: none;
}

 #next-btn, #prev-btn{
     position: absolute;
     right: 5%;
     bottom: 10%;
     width: 5rem;
 }

 #prev-btn{
     left: 5%;
 }

 #timer{
     width: 10rem;
     background: #FFB830;
     position: absolute;
     top: 15vh;
     left: 45vw;
     border-radius: 5px;
 }

 .option-lable{
     font-size: 1.5rem;
     font-family: 'Alegreya', serif;
    }

 h1{
    font-family: 'Acme', sans-serif;
 }
